#ask-form span{
    display: inline-block;
    width: 10%;
    padding: 0;
    margin-left: 3%;
}
#ask-form input{
    padding: 0;
    margin-left: 5%;
    margin-top: 3%;
    width: 40%;
}
#ask-form button{
    margin-left: 5%;
}