/* 공통 적용 사항 */
ul{
    list-style-type: none;
}
span{
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit;
}

.hover:hover {
    background-color: #3e4042;
}
.btn-secondary {
    background-color: #6c757d;
}

.mini_layout{
    width: 50%;
    height: fit-content;
    padding: 0;
    margin-left: 25%;
    margin-top: 50px;
}
.middle_layout{
    margin-top: 50px;
    width: 70%;
    height: fit-content;
    padding: 0;
    margin-left: 15%;
}
.large_layout{
    width: 90%;
    padding: 0;
    margin-left: 5%;
    height: fit-content;
}

.button{
    width: fit-content;
    border-radius: 30%;
    background-color:skyblue;
    color: black;
}

#message{
    background-color: bisque;
    border-width: 2px;
    border-style: solid;
    border-color: burlywood;
    display: none;
}

/* base.html*/
.user_header{
    font-size: small;
    text-align: end;
    margin: 0;
    padding: 0;
}
.nav{
    width: 100%;
    font-size: 0;
}
.nav_col{
    width: 25%;
    margin: 0;
    padding: 0;
    font-size: medium;
    text-align: center;
    background-color: rgba(114, 133, 151, 0.71);
    color:black;
}
.content{
    width:80%;
    padding: 0;
    margin-left: 10%;
}
.main_logo{
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
}
.main_logo{
    width: 60%;
    margin-left: 20%;
    height: 200px;
    padding: 0;
}