#dataTable thead{
    text-align: center;
}
#dataTable tfoot{
    text-align: center;
}
#dataTable tbody{
    text-align: center;
}
#dataTable tbody .title{
    text-align: left;
}

#notice-view{
    display: none;
}

#notice-form textarea{
    resize: none;
}