.col{
    width: 30%;
}
#websites_list{
    width: 80%;
    padding: 0;
    margin-left: 10%;
    margin-top: 5%;
}
.middle_layout h2{
    margin-left: 5%;
}
#websites_list .website{
    margin-top: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}