#profile-image{
    display: block;
    width: 25%;
    padding: 0;
    margin-left: 37.5%;
    margin-bottom: 5%;
}

#profile span{
    display: inline-block;
}

#profile-info{
    display: block;
    width: 90%;
    padding: 0;
    margin-left: 5%;
}
.col{
    width: 35%;
    padding: 0;
    margin: 0;
}

#change-form{
    width: 80%;
    padding: 0;
    margin-left: 5%;
    margin-top: 10%;
}

#websites-info{
    display: block;
    width: 90%;
    padding: 0;
    margin-left: 5%;
}