#websites .website{
    margin-top: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

#webLayout{
    width: 90%;
    padding: 0;
    margin-left: 5%;
    height: fit-content;
}

#buttons{
    text-align: center;
    margin-top: 20px;
}