#websites{
    margin-top: 5%;
}

#websites .website{
    margin-top: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

#webLayout{
    width: 90%;
    padding: 0;
    margin-left: 5%;
    height: 100%;
}

#buttons{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}