<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">

  {% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='./css/common.css')}}">
  <script rel="javascript/text" src="{{url_for('static', filename='./js/message.js')}}"></script>
  
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  {% endblock %}

  <title>notice-alarm</title>
</head>

<body>
  <!-- 헤더 시작 -->
  <div class="user_header">
  {% if 'user' in session %}
    <span>Welcome, <span style="color: darkgreen;">{{session['user']}}</span>!</span>
    <span><a href="{{url_for('logout')}}">  (logout)</a></span>
  {% else %}
      <span>Welcome, <span style="color: darkgreen;">guest</span>!</span>
      <span><a href="{{url_for('register')}}">  (register </a></span>
      <span> | </span>
      <span><a href="{{url_for('login')}}"> login)</a></span>
  {% endif %}
  </div>
  <a href="{{url_for('main')}}"><img src="{{url_for('static', filename='./image/logo.png')}}" alt="logo" class="main_logo"></a>
  
  <div class="nav">
    <span class="nav_col"><a href="{{url_for('profile')}}"><h4>Profile</h4></a></span>
    <span class="nav_col"><a href="{{url_for('websites')}}"><h4>Websites</h4></a></span>
    <span class="nav_col"><a href="{{url_for('ask')}}"><h4>Ask</h4></a></span>
    <span class="nav_col"><a href="{{url_for('notice')}}"><h4>Notice</h4></a></span>
  </div>
  <!-- 헤더 종료 -->

  <div id="message">
    <span><img id="msgImg"></span><span id="msgContent"></span>
  </div>
  {% if msg is defined %}
  <script> set_msg("{{msg}}", "{{error}}") </script>
  {% endif %}

  <!-- 본문 시작 -->
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  <!-- 본문 종료 -->


</body>
</html>