<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
	
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
		<link rel="stylesheet" href="../static/css/style.css">
		<script rel="javascript/text" src="../static/js/login_functions.js"></script>
		<title>Notice Alarm</title>
		<link rel="icon" href="../static/image/icon_logo.png" type="image/icon type">
	</head>
	<body>
		<section class="ftco-section">
			<div class="container">
				
				<div class="row justify-content-center">
					<div class="col-md-7 col-lg-5">
						<div class="login-wrap p-4 p-md-5">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-user-o"></span>
							</div>
							<h3 class="text-center mb-4">Sign In</h3>
							{% if msg is defined %}
							<p class="text-center" style="color: #5671d7;">{{msg}}</p>
							{% endif %}
							<form action="{{url_for('login')}}" , method="post" , name="login_form" ,
								onSubmit="return login_check()" class="login-form">
								<div class="form-group">
									<input type="text" class="form-control rounded-left" placeholder="Username" name="id">
								</div>
								<div class="form-group d-flex">
									<input type="password" class="form-control rounded-left" placeholder="Password"
										name="passwd">
								</div>
								<div class="form-group">
									<button type="submit"
										class="form-control btn btn-primary rounded submit px-3" style="color:#5671d7">Login</button>
								</div>
								<div class="form-group d-md-flex">
									<div class="w-50">
							<!-- <label class="checkbox-wrap checkbox-primary">Remember Me
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label> -->
									</div>
									<div class="w-100 text-right">
										<a href="/register">Sign Up</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>