{% extends 'base.html' %}

{% block head %}
{{super()}}
{% endblock %}

{% block content %}
<div>
    <p>
        <h3>Hi! This is the service informing you some notice posted where you want to know.</h3>
        <br><br>

        The contributers of this service are:
        <ul>
            <li>
                <span><h4>kim dong ha : </h4></span> <span><a href="https://github.com/DHki">github</a></span>
            </li>
            <li>
                <span><h4>kim seong ah : <h4></span> <span><a href="https://github.com/kimseongah">github</a></span>
            </li>
        </ul>

        Thank you for using!
    </p>
</div>

{% endblock %}