{% extends 'base.html' %}
{% block head %}
<!-- Custom fonts for this template -->
<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/notice.css">
{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Notices</h1>

<!-- Ads -->
<div style="margin-bottom: 5%;">
    <ins class="kakao_ad_area d-none d-sm-block" style="display:none;" data-ad-unit="DAN-VTMcKHpkjAUNQdwP" data-ad-width="728"
    data-ad-height="90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

    <ins class="kakao_ad_area d-block d-sm-none" style="display:none;" data-ad-unit="DAN-1teJRde1O7eIqRtv"
        data-ad-width="320" data-ad-height="50"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>

<div class="card shadow mb-4" id="notice-view">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" id="notice-title"></h6>
    </div>
    <div class="card-body">
        <p id="notice-time"></p>
        <p id="notice-content"></p>
        <div style="text-align: end;">
            {% if session['admin'] is defined and session['admin'] == 'true' %}
            <button onclick="delete_notice()" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button>
            {% endif %}
            <button onclick="close_view()" class="btn btn-success btn-circle"><i class="fas fa-check"></i></button>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Notice Alarm 공지사항</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <colgroup>
                    <col width="5%">
                    <col width="65%">
                    <col width="10%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>num</th>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>num</th>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Date</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% set num = [] %}
                    {% for notice in notices %}
                    <tr>
                        <td>{{num|length + 1}}</td>
                        <td class="title"><a href="#notice-view" onclick='open_view("{{notice['num']}}")'>{{notice['title']}}</a></td>
                        <td>{{notice['writer']}}</td>
                        <td>{{notice['time']}}</td>
                    </tr>
                    {% set tmp = num.append(0) %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if session['admin'] is defined and session['admin'] == 'true' %}
<div class="card shadow mb-4" id="notice-form">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-secondary">Write notice (for admin)</h6>
    </div>
    <div class="card-body">
        <form action="{{url_for('notice')}}" method="POST" autocomplete="off">
            <p>
                <textarea name="title" cols="70" rows="3" placeholder="Title" required></textarea>
                <br><br>
                <textarea name="content" cols="70" rows="10" placeholder="Content" required></textarea>
            </p>
            <div style="text-align: end;">
                <button class="btn btn-success btn-circle"><i class="fas fa-check"></i></button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/demo/datatables-demo.js"></script>
<script src="../static/js/notice_functions.js"></script>
{% endblock %}