{% extends 'base.html' %}

{% block head %}
<!-- Custom fonts for this template -->
<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Websites</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">제공 중인 웹사이트를 구독하고 알림을 받아보세요!</h6>
    </div>

    <div class="card-body">
        <div>
            <ins class="kakao_ad_area d-none d-sm-block" style="display:none;" data-ad-unit="DAN-VTMcKHpkjAUNQdwP" data-ad-width="728"
            data-ad-height="90"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        
            <ins class="kakao_ad_area d-block d-sm-none" style="display:none;" data-ad-unit="DAN-1teJRde1O7eIqRtv"
                data-ad-width="320" data-ad-height="50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <colgroup>
                    <col width="10%" text-align="center" />
                    <col width="30%" />
                    <col width="60%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Name</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Add</th>
                        <th>Name</th>
                        <th>Url</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for site in sites %}
                    <tr>
                        {% if session['user'] is defined %}
                        {% if session['admin'] is defined and session['admin'] == 'true' %}
                        <td class="text-center"><button class="btn btn-sm btn-danger btn-circle"
                                onclick='delete_website("{{site['name']}}")'><i class="fas fa-trash"></i></button></td>
                        {% else %}

                        {% if site['name'] in user_websites %}
                        <td></td>
                        {% else %}
                        <td class="text-center"><button class="rounded border-0" onclick='add_website("{{session['user']}}", "{{site['name']}}" )'><img src="../static/image/add.svg" alt="add"></button>
                        </td>
                        {% endif %}
                        {% endif %}
                        {% else %}
                        <td class="text-center"><button class="rounded border-0"
                                onclick="javascript:location.href='/profile/login'"><img src="../static/image/add.svg"
                                    alt="add"></button></td>
                        {% endif %}

                        <td>{{site['name']}}</td>
                        <td><a href="{{site['url']}}" target="_blank">{{site['url']}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if session['admin'] is defined and session['admin'] == 'true' %}

<div class="card shadow mb-4">
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
        aria-expanded="false" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Add Website (for admin) : open form</h6>
    </a>

    <div class="collapse" id="collapseCardExample">
        <div class="card-body">
            <form action="{{url_for('websites')}}" method="POST" autocomplete="off">
                <input type="text" name="name" placeholder="name" required>
                <input type="text" name="url" placeholder="url" required>
                <input type="text" name="class" placeholder="class" required>
                <input type="text" name="path" placeholder="path" required>
                <button class="rounded border-0" style="color: rgb(69, 72, 109);">Push</button>
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}

{% block script %}
<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/demo/datatables-demo.js"></script>

<!-- Javascript for websites -->
<script src="../static/js/websites_functions.js"></script>
{% if session['admin'] is defined and session['admin'] == 'true' %}
<script src="../static/js/websites_admin.js"></script>
{% endif %}
{% endblock %}